---
import Navigation from "../components/navigation/Navigation.astro";
import Footer from "../components/Technologies/footer/Footer.astro";
---

<body>
    <Navigation />

    
    <Footer />
</body>
