---
const platform = "github";
const username = "withastro";
const props = Astro.props
---

<footer class="bottom-0">
    <!-- <Icon name="line-md:github-loop" /> -->
    <p>
        ¡Más información sobre mis proyectos en <a
            href={`https://github.com/wontlearn2codewithme`}>{platform}</a
        >!
    </p>
    <p>
        ¡Más información sobre mis proyectos en <a
            href={`https://github.com/wontlearn2codewithme`}>{platform}</a
        >!
    </p>

</footer>
